*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-one {
    /* width: 100%; */
    /* width: 1240px; */
    margin: 0 auto;
    padding: 0 100px;
    background-color: #3e3e3e;
}
.header {
    /* padding-top: 67px; */
    position: absolute;
    top: 67px;
    width: 100%;
    z-index: 1;
}

.logo {
    float: left;
}
.logo img {
    width: 52px;
    height: 36px;
}
.menu {
    float: right;
}
.mask {
    width: 100%;
    height: 857px;
    padding: 66px 0 0 100px;
    background-image: linear-gradient(108deg, #fceb6f 17%, #fede60 77%);
}
nav{
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    line-height: 32px;
}
nav ul li {
    display: inline;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
.hero {
    position: relative;
}
.hero__content-left {
    position: absolute;
    top: 335px;
    width: 522px;
}
.hero__content-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero__content-left h1 {
    font-weight: 300;
}
.hero__content-left h2 {
    width: 522px;
    /* height: 100px; */
    font-family: SourceSansPro;
    /* font-size: 40px; */
    letter-spacing: 1.04px;
    color: #333;
}

.hero__content-left p {
    width: 522px;
    margin: 68px 0;
    font-family: SourceSansPro;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.65px;
    color: #333;
}
.hero__content-right img {
    display: block;
}

.btn-one {
    display: inline-block;
    width: 224px;
    height: 81px;
    margin: 0 60px 0 0;
    padding: 19px 19px 22px 30px;
    border-radius: 100px;
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.7);
    border: solid 2px #3e3e3e;
    text-decoration: none;
}

.btn-two {
    display: inline-block;
    width: 224px;
    height: 81px;
    padding: 19px 19px 22px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.7);
    border: solid 2px #3e3e3e;
    text-decoration: none;
}

.component-one {
    padding-top: 79px;
}
.component-heading {
  /* font-family: SourceSansPro;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal; */
  letter-spacing: 1.3px;
  text-align: center;
  color: #3f3f3f;
} 
.container-two {
    /* margin: 0 auto; */
    padding: 96px 159px 0;
    
}
.box {
    width: 33.33333%;
    float: left;
    padding: 0 41px 0;
    text-align: center;
}
.clear {
    clear: both;
}
.box h3 {
  margin: 41px 0 0;
  /* font-family: SourceSansPro;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal; */
  letter-spacing: 0.78px;
  /* text-align: center; */
  color: #3f3f3f;
}
.component-two {
    margin: 61px 0px 0;
    background-color:#f8f8f8;
}
.container-three {
    position: relative;
    height: 100%;
    width: 100%;
}
.half {
    width: 50%;
    float: left;
    padding: 0 60px;
}
.stripe {
    position: absolute;
    left: 187px;
    width: 100px;
    height: 100%;
    background-color: #ffcb00;
    opacity: 0.46;
}
.half h2 {
    position: relative;
}
.half h3 {
    position: relative;
}
.half p {
    position: relative;
}
